.lk{
    display: flex;
    justify-content: space-between;
    
}


.contanier{
    width:1440px ;
    height: 110px ;
    margin: 0 auto;
}

.c{
    color: #424242;
   margin-top: 30px;
    
}

.hr{
    display: flex;
    gap: 20px;
    margin-top:20px
}

.hy{
    margin-top: 20px;
    
}

.kl{
    margin-top:30px
}

.box{
    width: 650px;
    height: 786px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 50px 60px;
    margin: 0 auto ;

}



.bx{
    color: #F0400F;

}

.lolo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.s{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jiji{
    font-size: 48px;
    color: #0E0D5D;
    text-align: center;
    padding-top: 100px;
}

.mk{
    width: 533px;
    height: 70px;
    border-radius: 20px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.lang{
    font-size: 28px;
    margin: 0 auto;
    
}

.j{
    background-color: white;
    width: 255px;
    height: 57px;
    border-radius: 15px;
}

.x{
    font-size: 28px;
    margin: 0 auto;  
}

.fim{
    width: 533px;
    height: 70px;
    border-radius: 20px;
    font-size: 24px;
    margin: 0 auto;
}
.ga{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.haq{
    text-align: center;
    color: #424242;
}

.hj{
    width: 202px;
    height: 67px;
    border-radius: 20px;
    background-color: #F69E86;
    color: white;
}

.k{
    display: flex;
    justify-content: flex-end;
}



